.change-credencials-container{
    font-family: var(--font-family-default);
    background-color: var(--light-color);
    width: fit-content;
}

.change-credentials-options-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.change-credentials-options-list li{
    font-size: 20px;
    padding: 1em 2em;
    font-weight: 500;
}

.change-credentials-options-list li:active{
    scale:1.1;
}

.change-selected-option-container{
    padding: 0em;
    background-color: var(--light-color);

}

.change-credentials-form{
    padding: 1em 2em 2em 2em;
    gap:1em;
    width: auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-credentials-form .change-credentials-input{
    border-radius: 999px;
    padding: 5px 10px;
    border: 1px solid gray;
}

.change-credentials-button-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.change-credentials-button-container button, .change-credentials-button-container input{
    font-weight: 500;
    font-family: var(--font-family-default);
    border-radius: 999px;
    padding: 5px 10px;
}

.change-credentials-button-container button{
    background-color: var(--light-color);
}

.change-credentials-button-container input{
    background-color: var(--secondary-color);
    color:var(--light-color)
}



@media(any-hover: hover){
    .change-credentials-options-list li:hover{
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--light-color)
    }

    .change-credentials-button-container button:hover{
        cursor: pointer;
        background-color: var(--background);
    }

    .change-credentials-button-container input:hover{
        cursor: pointer;
        background-color: var(--light-color);
        color: var(--secondary-color);
    }

}

@media(max-width:900px){
    .change-credencials-container{
        width: 100dvw;
    }
}