.get-report-container{
    width: 100%;
    max-width: 100dvw;
    height: fit-content;
}

.select-time-dropdown{
    width: auto;
    padding: 5px;
    border-radius: 0px;
}

.report-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}