.enviornment{
    height:calc(100% - 4em) ;
    padding: 0em;
    width: auto;
    position: relative;
    top:4em;
    display: flex;
    flex-direction: row;
    gap:1px;
    margin: 0;
    grid-column: 2/2;
     overflow-y: auto;
     overflow-x: hidden;
    
}
.enviornment::-webkit-scrollbar {
  background:transparent;
  width: 6px; /* Uma barra super fininha */
}
.enviornment::-webkit-scrollbar-track {
  background: transparent; /* Cor igual ao fundo da tua sidebar */
}
.enviornment::-webkit-scrollbar-thumb {
  background: var(--secondary-color); /* Um cinzento escuro discreto para o manípulo */
  border-radius: 99px;
}

@media(max-width:900px){
    .enviornment{
        grid-column: 1/2;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

    }
}