.page-layout{
    position: absolute;
    top:0em;
    display: grid;
    grid-template-columns:min-content auto;
    grid-template-rows: auto;
    height: 100dvh;
    max-height: 100dvh;
    width: 100dvw;
    background-color: var(--background);
}

@media(max-width:900px){
    .page-layout{
        grid-template-columns: 100vw;
        height: 100dvh;
    }
}