.active-task{
    color: var(--secondary-color);
    padding: 20px;
    height: fit-content;
    width: 150px;
    background-color: #ffffff;
    list-style-type:none ;
    border-radius: 15px;
    border: 1px solid #f1f5f9;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
}

.name-with-timer{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

.name-and-internal-number-container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    gap: 5px;
}

.active-task h3{
    text-transform: capitalize;
    font-weight: 600;
}

.active-task h4{
    flex-grow:1 ;
    font-size: 10px;
    letter-spacing: 1px;
    border: 1px solid black;
    text-align: center;
    height: fit-content;
    padding: 5px 15px;
    margin-top: 4px;
    border-radius: 9999px;
    background-color: var(--secondary-color);
    color: white;
}
.active-task-internal-number{
    align-self: center;
    color: #64748b;
    font-size: 15px;
}

.end-task-button{
    flex-grow: 1;
    position: relative;
    text-align: center;
    font-size: 0.75em;
    font-weight: 600;
    border: 1px solid var(--default-green);
    height: fit-content;
    padding: 5px;
    padding-right:10px;
    padding-left: 10px;
    border-radius: 9999px;
    background-color: var(--default-light-green);
    color: var(--default-green);
}

.end-task-button:active{
    border: 1px solid var(--default-orange);
    background-color: var(--default-light-orange);
    color: var(--default-light-orange); 
    scale: 1.1;
}


.timer-container p{
    color: #64748b;
}

@media(any-hover: hover){
    .end-task-button:hover{
        cursor: pointer;
       border: 1px solid var(--default-orange);
       background-color: var(--default-light-orange);
       color: var(--default-orange); 
    }
}


@media(max-width:650px){

    

.end-task-button{
    position: relative;
    max-width: fit-content;
    font-size: 1.2em;
    left:2%;
}    


    .active-task{
        border-radius: 9999px;
        width: 75vw;
        height: 0.75em;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 80%;
    }

    .active-task h3{
    min-width: max-content;
}

.name-with-timer{
    margin-right: auto;
        justify-self: flex-start;
        max-width: 30%;
        gap: 5px;
        font-size: 10px;
    }

.active-task h4{
    justify-self: flex-end;
    position: relative;
    display: flex;
    font-size: fit-content;
    text-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    top:-2px;
   padding: 8px 20px;
   max-width: 25%;
   max-height: 1.2em;


}
.active-task-internal-number{
    text-align: start;
    font-size: 10px;
}

.name-and-internal-number-container{
    display: flex;
    flex-direction: row;
}

}