.active-tasks-list{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap:30px;
    width: auto;
    height: fit-content;
    padding: 2em;
}

@media(max-width:650px){
    .active-tasks-list{
        position: relative;
        top:4em;
        flex-direction: column;
        width: 85vw;
        height: fit-content;
        margin-bottom: 10em;
    }
}