.active-tasks-list{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap:30px;
    width: auto;
    height: fit-content;
    padding: 2em;
    margin-bottom: 5em;
}

.no-active-tasks-title{
    font-family: var(--font-family-default);
    color:var(--secondary-color);
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:900px){
    .active-tasks-list{
        justify-content: center
    };
}

@media(max-width:650px){
    .active-tasks-list{
        position: relative;
        top:0em;
        flex-direction: column;
        width: 85vw;
        height: fit-content;
        padding-bottom: 5em;
    }
}