.task-list{
    text-align: center;
    position: relative;
    top:1em;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0;
    list-style-type: none;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 1em;
}