.loading-spinner{
    border: 10px solid var(--secondary-color);
    border-top-color:white ;
    border-radius:9999px;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
