.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    z-index: 1000;
    width: auto;
    height: auto;
    background-color:transparent;
}

