aside{
  position: relative;
  top: max(10%,4em);
  height: 90dvh;
    z-index: 999;
    grid-column: 1/2;
    position: relative;
    margin-top: 0;
    width: fit-content;
    max-width: 100dvw;
    background-color: var(--secondary-color);
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

aside::-webkit-scrollbar {
  width: 6px; /* Uma barra super fininha */
}
aside::-webkit-scrollbar-track {
  background: #0f172a; /* Cor igual ao fundo da tua sidebar */
}
aside::-webkit-scrollbar-thumb {
  background: #334155; /* Um cinzento escuro discreto para o manípulo */
  border-radius: 10px;
}

.side-bar-title{
    justify-self: center;
    position: sticky;
     font-family: var(--font-family-default);
     padding-left: 20px;
     padding-right: 20px;
     color: white;
     margin-top: 20px;
     padding-bottom: 20px;
     text-align: center;
     border-bottom: 1px solid white;
}

.options-sidebar{
  position: sticky;
  top: max(10%,4em);
  height: 100dvh;
}

@media(max-width:900px){
  aside{
    position: absolute;
    top:max(10%,4em);
    width: 100vw;
  }
  .control-panel-menu{
    max-height: 90dvh;
    overflow-y: auto;
    height: 90dvh;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 1);
    box-shadow: 
    -5px 0 5px -3px rgba(0, 0, 0, 0.2), /* Sombra da Esquerda (X negativo) */
     5px 0 5px -3px rgba(0, 0, 0, 0.2); /* Sombra da Direita  (X positivo) */
  }
  
}

@media(max-width:650px){
    aside{
        z-index: 1000;
        position: absolute;
        width: 100dvw;
        top: max(10%,4em);
        box-shadow: 0 0 15px -10px rgba(0, 0, 0, 1);
        box-shadow: 
    -5px 0 5px -3px rgba(0, 0, 0, 0.2), /* Sombra da Esquerda (X negativo) */
     5px 0 5px -3px rgba(0, 0, 0, 0.2); /* Sombra da Direita  (X positivo) */
        
    }

    

    .control-panel-menu{
      position: absolute;
      top: max(10%,4em);
      max-width: 100dvw;
      width: 100dvw;
      height: 90dvh;
      overflow-y: auto;
      overflow-x: hidden;
    }
}

@media(max-height:526px){
  aside{
    height: 90dvh;
  }
}